<html>
    <head>
        <title>NASA Spiders scraping results</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <style>
            td {border:2px solid black;
            padding: 5px;
            font-size: 10px}
        </style>
    </head>
    <body>
        <h2>Find by NAICS code</h2>
        <form method="post" action="/get_data">
            <input type="text" name="naics" />
            <input type="submit" />
        </form>
        <a href="/list">List of all spiders</a>
    </body>

</html>