<html>
    <head>
        <title>NASA Spiders scraping results</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <style>
            td {border:2px solid black;
            padding: 5px;
            font-size: 10px}
        </style>
    </head>
    <body>
        <h2>Find by NAICS code</h2>
        <form method="post" action="/nasa">
            <input type="text" name="naics" />
            <input type="submit" />
        </form>
        <p>NASA Spiders scraping results</p>
        <table>
            <thead>
                <td>Title</td>
                <td>URL</td>
                <td>Posted</td>
                <td>Response Due</td>
                <td>Classification Code</td>
                <td>NAICS Code</td>
                <td>Set-Aside Code</td>
                <td>Contracting Office Address</td>
                <td>Description</td>
                <td>Point of Contact</td>
            </thead>
            {% for rfp in rfps %}
                <tr>
                    <td>{{ rfp.title }}</td>
                    <td><a href="{{ rfp.URL }}">{{ rfp.URL }}</a></td>
                    <td>{{ rfp.posted }}</td>
                    <td>{{ rfp.response_due }}</td>
                    <td>{{ rfp.classification_code }}</td>
                    <td>{{ rfp.NAICS_code }}</td>
                    <td>{{ rfp.set_aside_code }}</td>
                    <td>{{ rfp.contracting_office_address }}</td>
                    <td>{{ rfp.description }}</td>
                    <td>
                        {% for contact in rfp.point_of_contact %}
                        <ul>
                            <li>{{ contact.name }}</li>
                            <li>{{ contact.title }}</li>
                            <li>{{ contact.phone }}</li>
                            <li>{{ contact.fax }}</li>
                            <li>{{ contact.email }}</li>
                        </ul>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor%}
        </table>
    </body>

</html>